* {
	box-sizing: border-box;
}

body {
  background:STEELBLUE;
}

main {
	background: ALICEBLUE;
	padding: 30px;

}

.bg-rented {
	background: PALETURQUOISE!important;
}

.bg-sold {
	background: PEACHPUFF!important;
	color: CORAL;
}